* {
    font-synthesis: none;
}

html {
    display: block;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}
body.no-scroll {
    overflow: hidden;
}
.no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: Monteserrat-Black;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

.discount {
    height: 50px;
    background-color: #000000;
    border-radius: 0 0 20px 20px;
    margin: 0 3px 0 3px;
}

.display-discount {
    display: flex;
    justify-content: space-between;
}

.discount-text {
    font-family: Monteserrat-Black;
    font-size: 14px;
    color: #FFFFFF;
    margin: 17px 0 0 14px;
}

.button-discount {
    cursor: pointer;
    line-height: 24px;
    width: 116px;
    background-color: #FFFFFF;
    color: #000;
    padding: 0;
    margin: 13px 14px 0 0;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    text-align: center;
    font-family: Montserrat-Medium;
}
header {
    position: relative;
    z-index: 4;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 22px;
}

.right-nav {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.logo {
    width: 126px;
    height: 23px;
}

.burger-menu {
    margin-right: 22px;
}

.profile {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 25.26px;
    grid-column-start: 4;
    z-index: 10;
}

.menu-icon span {
    z-index: 10;
    display: block;
    height: 4px;
    width: 25.26px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.3s;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-icon+.menu {
    right: 0;
}

.menu {
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 54px;
    right: -100%;
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    font-family: Montserrat-SemiBold;
    padding: 20px 0 20px 13px;
    text-align: left;
    width: 80vw;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    display: block;
    width: 80vw;
}


#menu-toggle:checked+.menu-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked+.menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-icon span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
.overlay.active {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.555);
    pointer-events: none;
}
.container {
    padding: 37px 23px 0 23px;
}
.h1 {
    font-family: Montserrat-SemiBold;
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 69px;
}
.container-map img {
    width: 100%;
    padding-bottom: 18px;
    border-radius: 20px;
}
.p-address {
    font-family: Montserrat-Regular;
    font-size: 18px;
    display: flex;
    text-align: center;
    margin: 0;
    padding-bottom: 36px;
    justify-content: center;
}
.div-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: space-evenly;
}
.h2 {
    font-family: Montserrat-Medium;
    font-size: 20px;
    display: flex;
    margin: 0;
    padding-bottom: 21px;
    text-align: center;
    justify-content: center;
}
.div-1-1 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 11px;
    
    
}
.p-social {
    align-items: center;
    display: flex;
    font-family: Montserrat-Regular;
    font-size: 16px;
    margin: 0;
}
.p-contact {
    text-align: center;
    display: flex;

    font-family: Montserrat-Regular;
    font-size: 18px;
    width: 184px;
    padding-bottom: 11px;
    margin: 0;
}
.p-email {
   text-align: center;
    display: flex;
    font-family: Montserrat-Regular;
    font-size: 18px;
    width: 241px;
    padding-top: 16px;
    margin: 0;
}
.svg {
    filter: brightness(0%);
    width: 32px;
}
footer {
    border-radius: 20px 20px 0 0;
    width: 100%;
    position: relative;
    background-color: #292929;
}

.div-full-footer {
    border-bottom: 1px solid #444444;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 51px 0 16px 0;
}

.container-footer {
    padding: 0px 22px;
}


.title-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    list-style: none;
    width: 230.64px;
    color: #fff;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #444444;
}

.title2-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    list-style: none;
    color: #fff;
    padding: 19px 0 8px 0;
    border-bottom: 1px solid #444444;
}

summary {
    list-style: none;
    appearance: none;
    -webkit-appearance: none;
}

summary::-webkit-details-marker {
    display: none;
}

.details {
    cursor: pointer;
    list-style: none;
}

.details-p {
    margin: 0 0 10px;
    font-size: 16px;
    width: 90px;
    cursor: pointer;
}

.details-p2 {
    margin: 0 0 10px;
    font-size: 14px;
    width: 80px;
    cursor: pointer;
}

.details ul {
    list-style: none;
    color: #fff;
    padding: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
}

.details-ul-li {
    cursor: default;
    color: #858585;
    padding: 0 0 10px 30px;
}

.number-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #fff;
}

.text-after-number {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #fff;
    margin: 0;
}

.text-address-gmail {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #fff;
}

.pos-gmail {
    padding: 8px 0 0 0;
    margin: 0;
}

.pos-svg-icon {
    display: flex;
    padding: 8px 0 0 0;
    gap: 12px;
}

.word-end {
    display: flex;
    justify-content: center;
    padding: 17px 0 24px 0;
}
main {
    padding-bottom: 121px;
}
a {
    text-decoration: none;
    color: #fff;
}
