* {
    font-synthesis: none;
}

html {
    display: block;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

.no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: Monteserrat-Black;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

header {
    position: relative;
    z-index: 4;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 22px;
}

.right-nav {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.logo {
    width: 126px;
    height: 23px;
}

.burger-menu {
    margin-right: 22px;
}

.profile {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 25.26px;
    grid-column-start: 4;
    z-index: 10;
}

.menu-icon span {
    z-index: 10;
    display: block;
    height: 4px;
    width: 25.26px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.3s;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-icon+.menu {
    right: 0;
}

.menu {
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    font-family: Montserrat-SemiBold;
    padding: 20px 0 20px 13px;
    text-align: left;
    width: 80vw;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    display: block;
    width: 80vw;
}

#menu-toggle:checked+.menu-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked+.menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-icon span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.overlay.active {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.555);
    pointer-events: none;
}

.container {
    padding: 42px 23px 0 23px;
}

.h1 {
    line-height: 28px;
    font-family: Montserrat-SemiBold;
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding-bottom: 45px;
}

.title-1 {
    font-family: Montserrat-Medium;
    font-size: 24px;
    margin: 0;
    text-align: center;
    padding-bottom: 22px;
}
.avatar {
    width: 44px;
    border-radius: 100px;
}
.user {
    display: flex;
    align-items: center;
    gap: 11px;
}
.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name {
    margin: 0;
    font-family: Montserrat-Medium;
    font-size: 20px;
    color: #000000;
}
.role {
    margin: 0;
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #444444;
}
.text-container {
    min-width: 275px;
    overflow: hidden;
}

.text {
    white-space: pre-line;
    font-family: Montserrat-Medium;
    font-size: 16px;
    margin: 0 0 8px 0;
    letter-spacing: -0.5px;
    line-height: 17px;
    max-height: 150px; /* Высота скрытой части */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.toggle {
    display: none;
}

.toggle:checked + .text {
    max-height: 790px; /* Увеличиваем высоту для полного отображения */
}
.arrow {
    display: flex;
    align-items: center;
    padding: 5px 7px;

}
.button {
    display: inline-block;
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #000000;
    margin-top: 5px;
    cursor: pointer;
}
.container-img {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 19px;
    justify-content: space-evenly;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.photo {
    background-image: url(../assets/images/cat-lap.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
    margin-left: 23px;
}
.photo2 {
    background-image: url(../assets/images/cat2-lap.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
}
.photo3 {
    margin-right: 23px;
    background-image: url(../assets/images/cow-lap.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
}
.photo11 {
    background-image: url(../assets/images/cat2.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
    margin-left: 23px;
}
.photo22 {
    background-image: url(../assets/images/cat3.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
}
.photo33 {
    margin-right: 23px;
    background-image: url(../assets/images/cat4.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
}
.photo111 {
    background-image: url(../assets/images/chin1.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
    margin-left: 23px;
}
.photo222 {
    background-image: url(../assets/images/chin2.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
}
.photo333 {
    margin-right: 23px;
    background-image: url(../assets/images/chin3.png);
    border-radius: 20px;
    width: 275px;
    height: 355px;
    margin-top: 18px;
}
.div-nav-post {
    padding: 10px 23px 0 23px;
    display: flex;
    justify-content: space-between;
}
.part-1 {
    display: flex;
    gap: 20px;
}
.button-nav {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: #ffffff00;

    &:hover {
        background-image: url(../assets/images/Like-full.svg);
        width: 27px;
        height: 27px;

    }
}
.button-nav2 {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: #ffffff00;
}
.button-nav3 {
    cursor: pointer;
    border: none;
    padding: 0;
    background-color: #ffffff00;
}

.svg-comment {
    width: 25px;
    filter: brightness(0) saturate(100%) invert(21%) sepia(3%) saturate(19%) hue-rotate(314deg) brightness(94%) contrast(77%);
}

.comments-container {
    display: none; /* Изначально скрыто */
    padding: 10px;
    background-color: #ffffff;
    
}
.comments-container2 {
    display: none; /* Изначально скрыто */
    padding: 10px;
    background-color: #ffffff;
    
}
.comments-container3 {
    display: none; /* Изначально скрыто */
    padding: 10px;
    background-color: #ffffff;
    
}
.avatar2 {
    width: 35px;
    border-radius: 100px;
}

.comment-input {
    gap: 7px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input {
    max-width: 400px;
    font-family: Montserrat-Medium;
    font-size: 14px;
    flex-grow: 1;
    padding: 5px;
    background-color: #D9D9D9;
    border: none;
    outline: none;
    border-radius: 20px;
}
main {
    padding-bottom: 200px;
}
footer {
    border-radius: 20px 20px 0 0;
    width: 100%;
    position: relative;
    background-color: #292929;
}

.div-full-footer {
    border-bottom: 1px solid #444444;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 51px 0 16px 0;
}

.container-footer {
    padding: 0px 22px;
}


.title-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    list-style: none;
    width: 230.64px;
    color: #fff;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #444444;
}

.title2-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    list-style: none;
    color: #fff;
    padding: 19px 0 8px 0;
    border-bottom: 1px solid #444444;
}

summary {
    list-style: none;
    appearance: none;
    -webkit-appearance: none;
}

summary::-webkit-details-marker {
    display: none;
}

.details {
    cursor: pointer;
    list-style: none;
}

.details-p {
    margin: 0 0 10px;
    font-size: 16px;
    width: 90px;
    cursor: pointer;
}

.details-p2 {
    margin: 0 0 10px;
    font-size: 14px;
    width: 80px;
    cursor: pointer;
}

.details ul {
    list-style: none;
    color: #fff;
    padding: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
}

.details-ul-li {
    cursor: default;
    color: #858585;
    padding: 0 0 10px 30px;
}

.number-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #fff;
}

.text-after-number {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #fff;
    margin: 0;
}

.text-address-gmail {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #fff;
}

.pos-gmail {
    padding: 8px 0 0 0;
    margin: 0;
}

.pos-svg-icon {
    display: flex;
    padding: 8px 0 0 0;
    gap: 12px;
}

.word-end {
    display: flex;
    justify-content: center;
    padding: 17px 0 24px 0;
}
a {
    text-decoration: none;
    color: #fff;
}
@media screen and (min-width:768px) {
    .title-footer {
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        list-style: none;
        width: 230.64px;
        color: #fff;
        padding: 0 0 8px 0;
        border-bottom: 1px solid #444444;
    }
    
    .title2-footer {
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        list-style: none;
        color: #fff;
        padding: 19px 0 8px 0;
        border-bottom: 1px solid #444444;
    }
    .details-p {
        margin: 0 0 10px;
        font-size: 18px;
        width: 100px;
        cursor: pointer;
    }
    
    .details-p2 {
        margin: 0 0 10px;
        font-size: 16px;
        width: 90px;
        cursor: pointer;
    }
    
    .details ul {
        list-style: none;
        color: #fff;
        padding: 0;
        font-family: Montserrat-Medium;
        font-size: 16px;
    }
    
    .number-footer {
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        color: #fff;
    }
    
    .text-after-number {
        font-family: Montserrat-Regular;
        font-size: 14px;
        color: #fff;
        margin: 0;
    }
    
    .text-address-gmail {
        font-family: Montserrat-Regular;
        font-size: 16px;
        color: #fff;
    }
}
@media screen and (min-width:1024px) 
{
    .wrapper {
        max-width: 1300px;
        margin: 0 auto;
    }
    .title-footer {
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        list-style: none;
        width: 230.64px;
        color: #fff;
        padding: 0 0 8px 0;
        border-bottom: 1px solid #444444;
    }
    
    .title2-footer {
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        list-style: none;
        color: #fff;
        padding: 19px 0 8px 0;
        border-bottom: 1px solid #444444;
    }
    .details-p {
        margin: 0 0 10px;
        font-size: 18px;
        width: 100px;
        cursor: pointer;
    }
    
    .details-p2 {
        margin: 0 0 10px;
        font-size: 16px;
        width: 90px;
        cursor: pointer;
    }
    
    .details ul {
        list-style: none;
        color: #fff;
        padding: 0;
        font-family: Montserrat-Medium;
        font-size: 16px;
    }
    
    .number-footer {
        font-family: Montserrat-SemiBold;
        font-size: 20px;
        color: #fff;
    }
    
    .text-after-number {
        font-family: Montserrat-Regular;
        font-size: 14px;
        color: #fff;
        margin: 0;
    }
    
    .text-address-gmail {
        font-family: Montserrat-Regular;
        font-size: 16px;
        color: #fff;
    }
    .div-full-footer {
        border-bottom: 1px solid #444444;
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        justify-content:center;
        padding: 51px 0 16px 0;
    }
}