* {
    font-synthesis: none;
}

html {
    display: block;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

body.no-scroll {
    overflow: hidden;
}

.no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: Monteserrat-Black;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

header {
    position: relative;
    z-index: 4;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 0 22px;
}

.right-nav {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.logo {
    width: 126px;
    height: 23px;
}

.burger-menu {
    margin-right: 22px;
}

.profile {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 25.26px;
    grid-column-start: 4;
    z-index: 10;
}

.menu-icon span {
    z-index: 10;
    display: block;
    height: 4px;
    width: 25.26px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.3s;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-icon+.menu {
    right: 0;
}

.menu {
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    font-family: Montserrat-SemiBold;
    padding: 20px 0 20px 13px;
    text-align: left;
    width: 80vw;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    display: block;
    width: 80vw;
}


#menu-toggle:checked+.menu-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked+.menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-icon span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.overlay.active {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.555);
    pointer-events: none;
}

.container {
    padding: 42px 23px 0 23px;
}

.h1 {
    line-height: 28px;
    font-family: Montserrat-SemiBold;
    font-size: 32px;
    text-align: center;
    margin: 0;
    padding-bottom: 45px;
}

.title-1 {
    font-family: Montserrat-Medium;
    font-size: 24px;
    margin: 0;
    text-align: center;
    padding-bottom: 22px;
}

.container-img {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 19px;
    justify-content: space-evenly;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding-bottom: 22px;
}
.card-course {
    border-radius: 20px;
    width: 275px;
    height: 116px;
    background: #fdab04;
}
.card-course2 {
    border-radius: 20px;
    width: 275px;
    height: 116px;
    background: #E92D29;
}
.card-course3 {
    border-radius: 20px;
    width: 275px;
    height: 116px;
    background: #0C2134;
}
.card-course4 {
    border-radius: 20px;
    width: 275px;
    height: 116px;
    background: #88B6C3;
}
.one-card {
    margin-left: 23px;
}
.end-card {
    margin-right: 23px;
}
.div-line-IT {
    display: flex;
    gap: 31px;
}
.div-line-2IT {
    display: flex;
    gap: 65px;
    padding: 30px 0 0 19px;
}
.div-line-2block-2IT {
    display: flex;
    gap: 88px;
    padding: 30px 0 0 19px;
}
.div-line-3D {
    display: flex;
    gap: 38px;
}
.div-line-2-3D {
    display: flex;
    gap: 69px;
    padding: 30px 0 0 19px;
}
.div-line-2block-3D {
    display: flex;
    gap: 75px;
    padding: 30px 0 0 19px;
}
.div-line-phis {
    display: flex;
    gap: 152px;
    
}
.div-line-2phis {
    display: flex;
    gap: 70px;
    padding: 44px 0 0 19px;
    
}
.div-line-2block-phis {
    display: flex;
    gap: 88px;
    padding: 44px 0 0 19px;
    
}
.h-card {
    font-family: Montserrat-Medium;
    font-size: 18px;
    color: #ffffff;
    padding: 12px 0 4px 20px;
    margin: 0;
}
.h2-card {
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #ffffff;
    margin: 0;
    align-items: center;
    display: flex;
}
.price {
    font-family: Montserrat-Medium;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
}
.arrow {
    margin-top: 16px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    transform: rotate(45deg);
}
.span {
    line-height: 20px;
    padding: 0 20px 0 20px;
    margin: 0 0 0 19px;
    background-color: #000000;
    color: #ffffff;
    font-family: Montserrat-Medium;
    font-size: 14px;
    border-radius: 20px;
}
.title-2 {
    font-family: Montserrat-Medium;
    font-size: 24px;
    margin: 0;
    text-align: center;
    padding: 23px 0 22px 0;
}
.div-line-rus {
    display: flex;
    gap: 95px;
}
.div-line-eng {
    display: flex;
    gap: 57px;
}
.div-line-chin {
    display: flex;
    gap: 71px;
}
.div-line-obsh {
    display: flex;
    gap: 59px;
}
.div-line-gramot {
    display: flex;
    gap: 91px;
}
.div-line-gramot2 {
    display: flex;
    gap: 70px;
    padding: 28px 0 0 19px;
}
.div-line-2block-gramot {
    display: flex;
    gap: 88px;
    padding: 28px 0 0 19px;
}
.word-gramot {
    font-family: Montserrat-Medium;
    font-size: 18px;
    color: #ffffff;
    padding: 12px 0 4px 20px;
    margin: 0;
    width: 134px;
}
main {
    padding-bottom: 93px;
}
footer {
    border-radius: 20px 20px 0 0;
    width: 100%;
    position: relative;
    background-color: #292929;
}

.div-full-footer {
    border-bottom: 1px solid #444444;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 51px 0 16px 0;
}

.container-footer {
    padding: 0px 22px;
}


.title-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    list-style: none;
    width: 230.64px;
    color: #fff;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #444444;
}

.title2-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    list-style: none;
    color: #fff;
    padding: 19px 0 8px 0;
    border-bottom: 1px solid #444444;
}

summary {
    list-style: none;
    appearance: none;
    -webkit-appearance: none;
}

summary::-webkit-details-marker {
    display: none;
}

.details {
    cursor: pointer;
    list-style: none;
}

.details-p {
    margin: 0 0 10px;
    font-size: 16px;
    width: 90px;
    cursor: pointer;
}

.details-p2 {
    margin: 0 0 10px;
    font-size: 14px;
    width: 80px;
    cursor: pointer;
}

.details ul {
    list-style: none;
    color: #fff;
    padding: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
}

.details-ul-li {
    cursor: default;
    color: #858585;
    padding: 0 0 10px 30px;
}

.number-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #fff;
}

.text-after-number {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #fff;
    margin: 0;
}

.text-address-gmail {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #fff;
}

.pos-gmail {
    padding: 8px 0 0 0;
    margin: 0;
}

.pos-svg-icon {
    display: flex;
    padding: 8px 0 0 0;
    gap: 12px;
}

.word-end {
    display: flex;
    justify-content: center;
    padding: 17px 0 24px 0;
}
a {
    text-decoration: none;
    color: #fff;
}
