* {
    font-synthesis: none;
}

html {
    display: block;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}
body.no-scroll {
    overflow: hidden;
}
.no-scroll {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@font-face {
    font-family: Monteserrat-Black;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

.discount {
    height: 50px;
    background-color: #000000;
    border-radius: 0 0 20px 20px;
    margin: 0 3px 0 3px;
}

.display-discount {
    display: flex;
    justify-content: space-between;
}

.discount-text {
    font-family: Monteserrat-Black;
    font-size: 14px;
    color: #FFFFFF;
    margin: 17px 0 0 14px;
}

.button-discount {
    cursor: pointer;
    line-height: 24px;
    width: 116px;
    background-color: #FFFFFF;
    margin: 13px 14px 0 0;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    font-family: Montserrat-Medium;
}

header {
    position: relative;
    z-index: 4;
}

main {
    margin-top: -44px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 19px 0 0 22px;
}

.right-nav {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 126px;
    height: 23px;
}

.burger-menu {
    margin-right: 22px;
}

.profile {
    margin-right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    width: 25.26px;
    grid-column-start: 4;
    z-index: 10;
}

.menu-icon span {
    z-index: 10;
    display: block;
    height: 4px;
    width: 25.26px;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.3s;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked+.menu-icon+.menu {
    right: 0;
}

.menu {
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 54px;
    right: -100%;
    width: 100%;
    background: #ffffff;
    transition: right 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    font-family: Montserrat-SemiBold;
    padding: 20px 0 20px 13px;
    text-align: left;
    width: 80vw;
}

.menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    display: block;
    width: 80vw;
}


#menu-toggle:checked+.menu-icon span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

#menu-toggle:checked+.menu-icon span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-icon span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.position-background {
    position: relative;
    display: flex;
    flex-direction: column;
}

.position-background img {
    max-height: 400px;
    margin: 4px 3px 0 3px;
    position: relative;
    max-width: 100%;
}

.text-background {
    position: absolute;
    margin: 232px 0 0 22px;
    width: 239px;
    font-family: Montserrat-SemiBold;
    font-size: 34px;
    font-weight: 600;
    line-height: 94%;
}

.main-header {
    min-width: 320px;
    width: 100%;
    position: absolute;
    margin-top: -43px;
    border-radius: 20px 20px 0 0;
    height: 44px;
    background-color: #ffffff;
}

.div-button-course {
    display: flex;
    flex-wrap: wrap;
    margin: 22px;
}

.button-course {
    cursor: pointer;
    color: #000;
    border-radius: 50px;
    background-color: #E7E7E7;
    border: none;
    font-family: Montserrat-Medium;
    font-size: 16px;
    line-height: 29px;
    padding: 0px 10px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.pos-title-main {
    display: flex;
    justify-content: center;
}

.one-title-main {
    margin: 31px 43px 21px 43px;
    text-align: center;
    font-family: Montserrat-SemiBold;
    font-size: 32px;
    line-height: 28px;
    min-width: 175px;
}

.container-img {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 19px;
    justify-content: space-evenly;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.cont-img1 {
    background-image: url(../assets/images/image\ 10.png);
    border-radius: 20px;
    width: 235px;
    height: 320px;
}

.cont-img2 {
    background-image: url(../assets/images/image\ 11.png);
    border-radius: 20px;
    width: 235px;
    height: 320px;
}

.cont-img3 {
    background-image: url(../assets/images/image\ 12.png);
    border-radius: 20px;
    width: 235px;
    height: 320px;
}

.cont-img4 {
    background-image: url(../assets/images/image\ 13.png);
    border-radius: 20px;
    width: 235px;
    height: 320px;
}

.cont-img5 {
    background-image: url(../assets/images/image\ 14.png);
    border-radius: 20px;
    width: 235px;
    height: 320px;
}

.cont-img6 {
    background-image: url(../assets/images/image\ 15.png);
    border-radius: 20px;
    width: 235px;
    height: 320px;
}

.cont-img7 {
    background-image: url(../assets/images/image\ 16.png);
    border-radius: 20px;
    width: 235px;
    height: 320px;
}

.cont-img8 {
    background-image: url(../assets/images/image\ 17.png);
    border-radius: 20px;
    width: 235px;
    height: 320px;
}

.one-img {
    margin-left: 43px;
}

.two-name-img {
    white-space: pre-line;
    font-size: 18px;
    width: 196px;
    font-family: Montserrat-SemiBold;
    color: #FFFFFF;
    text-align: center;
    margin: 28px 0 0 21px;
}

.seven-name-img {
    white-space: pre-line;
    font-size: 18px;
    width: 196px;
    font-family: Montserrat-SemiBold;
    color: #FFFFFF;
    text-align: center;
    margin: 28px 0 0 21px;
}

.three-img {
    margin-right: 43px;
    cursor: pointer;
}

.eight-img {
    margin-right: 43px;
}

.name-img {
    font-size: 18px;
    font-family: Montserrat-SemiBold;
    color: #FFFFFF;
    text-align: center;
    width: 156px;
    margin: 28px 0 0 39px;
}

.two-title-main {
    margin: 31px 43px 11px 43px;
    text-align: center;
    font-family: Montserrat-SemiBold;
    font-size: 32px;
    line-height: 28px;
}

.two-one-title-main {
    margin: 0 43px 21px 43px;
    text-align: center;
    font-family: Montserrat-Medium;
    font-size: 16px;
    line-height: 18px;
    min-width: 175px;
    color: #B2B2B2;
}

.pos-candy {
    width: 50%;
    margin-top: -320px;
    z-index: -100;
}

.pos-candy-1 {
    display: flex;
    justify-content: right;
    margin-top: 124px;
}

.pos-candy-2 {
    margin-top: -110px;
}

.container-card {
    position: absolute;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 19px;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.card {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    width: 233px;
    height: 318px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.7);
}

.name-card {
    font-size: 18px;
    font-family: Montserrat-SemiBold;
    text-align: center;
    width: 200px;
    margin: 27px 0 0 17px;
}

.img-card {
    margin: 17px 0 0 44px;
    width: 147px;

}

.img-card2 {
    margin: 7px 0 0 50.32px;
    width: 153px;
}

.img-card3 {
    margin: 48px 0 0 50px;
    width: 142px;
}

.main-2 {
    margin-top: 60px;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 1907px;
    background: #0c2134;
}

.pos-card-main {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin: 0 22px 0 22px;

}

.text-main2 {
    font-family: Montserrat-SemiBold;
    font-size: 32px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin: 26px 11px 25px 11px;
}

.card-main2 {
    margin: 0 0 0 0;
    border-radius: 20px;
    padding: 5px 0px;
    width: 276px;
    height: 160px;
    background: #fff;
}

.name-card-main2 {
    font-family: Montserrat-SemiBold;
    font-size: 34px;
    margin: 37px 0 0 111px;
}

.name2-card-main2 {
    font-family: Montserrat-Medium;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    margin: 5px 0 0 43px;
    width: 190px;
}

.name-card2-main2 {
    font-family: Montserrat-SemiBold;
    font-size: 34px;
    margin: 30px 0 0 111px;
}

.icon-3d {
    position: absolute;
    width: 95.86px;
    margin: -36px -20px;
}

.icon2-3d {
    position: absolute;
    width: 94px;
    margin: -34px 199px;
}

.text2-main2 {
    font-family: Montserrat-SemiBold;
    font-size: 32px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    margin: 99px 62px 38px 62px;
}

.card-curators {
    border-radius: 20px;
    width: 242px;
    height: 355px;
    background: #fff;
}

.img-curator {
    width: 90px;
    border-radius: 50%;
    margin: 10px 0 0 73px;
}

.name-curator {
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    width: 160px;
    margin: 5px 0 0 11px;
}

.star-curator {
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    margin: 5px 0 0 14px;
}

.pos-name-curator {
    display: flex;
    flex-direction: row;
}

.status-curator {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #3A3A3A;
    margin: -5px 0 0 11px;
}

.text-curator {
    font-family: Montserrat-SemiBold;
    font-size: 16px;
    width: 223px;
    height: 112px;
    color: #696969;
    line-height: 16px;
    margin: 0 0 0 11px;
}

.span-curator {
    border: 1px solid #000;
    border-radius: 50px;
    width: 102px;
    line-height: 29px;
    text-align: center;
    background-color: #fff;
    font-family: Montserrat-Medium;
    margin: 24px 0 0 15px;
}

.span1-curator {
    border: 1px solid #000;
    border-radius: 50px;
    width: 130px;
    line-height: 29px;
    text-align: center;
    background-color: #fff;
    font-family: Montserrat-Medium;
    margin: 24px 0 0 15px;
}

.span2-curator {
    border: 1px solid #000;
    border-radius: 50px;
    width: 102px;
    line-height: 29px;
    text-align: center;
    background-color: #fff;
    font-family: Montserrat-Medium;
    margin: 24px 11px 0 8px;
}

.button-continue {
    border-radius: 50px;
    line-height: 29px;
    width: 133px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-family: Montserrat-Medium;
    border: none;
    margin: 5px 0 0 55px;
}

.pos-card-end {
    display: flex;
    margin: 0 22px 0 22px;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.card-end {
    border-radius: 20px;
    width: 276px;
    height: 276px;
    background-color: #fff;
}

.img-card1-end {
    width: 187.72px;

    margin: 16.17px 0 0 42.3px;
}

.img-card2-end {
    width: 128px;
    margin: 16.17px 0 0 74.44px;
}

.name-card-end {
    font-family: Montserrat-SemiBold;
    font-size: 20px;
    width: 236px;
    margin: 6px 0 0 21px;
    text-align: center;
}

.name2-card-end {
    font-family: Montserrat-Medium;
    font-size: 16px;
    margin: 16px 0 0 0;
    text-align: center;
}

.name2-card2-end {
    font-family: Montserrat-Medium;
    font-size: 16px;
    margin: 6px 0 0 0;
    text-align: center;
}

footer {
    width: 100%;
    position: relative;
    background-color: #292929;
}

.div-full-footer {
    border-bottom: 1px solid #444444;
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding: 51px 0 16px 0;
}

.container-footer {
    padding: 0px 22px;
}


.title-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    list-style: none;
    width: 230.64px;
    color: #fff;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #444444;
}

.title2-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    list-style: none;
    color: #fff;
    padding: 19px 0 8px 0;
    border-bottom: 1px solid #444444;
}

summary {
    list-style: none;
    appearance: none;
    -webkit-appearance: none;
}

summary::-webkit-details-marker {
    display: none;
}

.details {
    cursor: pointer;
    list-style: none;
}

.details-p {
    margin: 0 0 10px;
    font-size: 16px;
    width: 90px;
    cursor: pointer;
}

.details-p2 {
    margin: 0 0 10px;
    font-size: 14px;
    width: 80px;
    cursor: pointer;
}

.details ul {
    list-style: none;
    color: #fff;
    padding: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
}

.details-ul-li {
    cursor: default;
    color: #858585;
    padding: 0 0 10px 30px;
}

.number-footer {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    color: #fff;
}

.text-after-number {
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #fff;
    margin: 0;
}

.text-address-gmail {
    font-family: Montserrat-Regular;
    font-size: 14px;
    color: #fff;
}

.pos-gmail {
    padding: 8px 0 0 0;
    margin: 0;
}

.pos-svg-icon {
    display: flex;
    padding: 8px 0 0 0;
    gap: 12px;
}

.word-end {
    display: flex;
    justify-content: center;
    padding: 17px 0 24px 0;
}

