* {
    font-synthesis: none;
}

html {
    display: block;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    background-color: #FFFFFF;
    overflow-x: hidden;
}

@font-face {
    font-family: Monteserrat-Black;
    src: url(../assets/fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

.logo {
    display: flex;
    margin: 19px 0 0 22px;
    width: 126px;
    height: 23px;
}

.container {
    padding: 67px 23px 0 23px;

}

.h1 {
    font-family: Montserrat-Bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 18px;
    margin: 0;
}

input {
    text-indent: 20px;

    &::placeholder {
        color: #FFFFFF;
    }

    &:hover {
        outline: none;
    }

    &:hover::placeholder {
        color: #ffffff00;
    }

}

.div {
    display: flex;
    gap: 9px;
    flex-direction: column;
}

.log-in {
    font-family: Montserrat-Medium;
    font-size: 18px;
    line-height: 45px;
    border-radius: 20px;
    border: none;
    min-width: 275px;
    letter-spacing: -0.5px;
    height: 45px;
    padding: 0;
    background-color: #cdcdcd;
}
.div-checkbox {
    padding-top: 24px;
}

.input-checkbox {
    width: 20px;
    height: 20px;
    accent-color: #000000;
    cursor: pointer;
}

.text-remember {
    font-family: Montserrat-Medium;
    font-size: 14px;
    vertical-align: middle;
    letter-spacing: -0.5px;
    position: relative;
    top: -5px;
}
.div-2 {
    display: flex;
    gap: 9px;
    flex-direction: column;
    padding-top: 27px;
}

.button-1 {
    background-color: #0C2134;
    line-height: 45px;
    font-family: Montserrat-Medium;
    font-size: 18px;
    letter-spacing: -0.25px;
    color: #FFFFFF;
    padding: 0;
    min-width: 275px;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
}
.div-help {
    display: flex;
    justify-content: center;
    padding-top: 18px;
}

.p-help {
    font-family: Montserrat-Regular;
    font-size: 14px;
    letter-spacing: -0.5px;
    margin: 0;
}

.div-svg {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 26px;
}

.border-for-svg {
    cursor: pointer;
    border: 1px solid #000000;
    background-color: #ffffff00;
    border-radius: 100px;
    padding: 0;
    width: 54px;
    height: 54px;
}
.svg-icon-1 {
   padding: 13px;
}
.svg-icon-2 {
    padding: 17px 11px;
 }

.a-login {
    color: #000000;

}
.div-end-login {
    display: flex;
    flex-direction: row;
    gap: 3px;
    justify-content: center;
    padding-top: 18px;

}
.word-login-1 {
    margin: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #000000;
}
.word-login-2 {
    
    margin: 0;
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #000000;
}
main {
    padding-bottom: 100px;
}
.a {
    text-decoration: none;
    color: #fff;
}
@media screen and (min-width:768px) {
    .wrapper {
        max-width: 1300px;
        margin: 0 auto;
    }
}
@media screen and (min-width:1024px) {
    .wrapper {
        max-width: 1300px;
        margin: 0 auto;
    }
}